* {
    color: #ebebeb;
    font-family: Comfortaa, monospace;
}

a:link {
    color: #0fc4f0;
}

a:visited {
    color: #3155ff;
}

a:hover {
    color: #6afde3;
}

a:active {
    color: #03fc93;
}

body {
    Background-color: #242424;
}

h1 {
    font-family: Oswald, monospace;
    text-shadow: 5px 5px 0 rgb(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    text-shadow: 5px 5px 0 rgb(0, 0, 0, 0.2);
}

h3 {
    text-shadow: 5px 5px 0 rgb(0, 0, 0, 0.2);
}

i {
    color: #b8b8b8;
}

strong {
    color: #dadada;
}

#headerimage {
    /*display: block;
  margin-left: auto;
  margin-right: auto;*/
    border-radius: 15px;
}

.RBox {
    border: 2px solid #515151;
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 98.5%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

#rboxindex {
    border: 2px solid #515151;
    background-color: #353535;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

#recipelist {
    font-size: 30px;
    text-align: center;
    margin: 50px;
}

.recipecard {
    border: 2px solid #515151;
    background-color: #3e3e3e;
    display: inline-flex;
    justify-content: center;
    align-items: normal;
    margin: 20px;
    height: 300px;
    width: 300px;
    text-align: center;
    font-size: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

.recipecard a {
    color: lightgray;
    text-decoration: none;
    padding: 90px;
}

.recipecard a:hover {
    color: teal;
}

.rside {
    display: flex;
    flex: 300px;
}

.columnspacer {
    display: flex;
    flex-direction: column;
}

.Dtitle {
    font-size: 20px;
}

.Dirgrid {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.element1 {
    grid-column: 1;
    grid-row: 1;
}

.element2 {
    grid-column: 2;
    grid-row: 1;
}

.element3 {
    grid-column: 1;
    grid-row: 2;
}

.element4 {
    grid-column: 2;
    grid-row: 2;
}

.inputtext {
    color: #3e3e3e;
}

.rate {
    /*placeholder*/
}
